<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<connectionStrings>
		<!--Code base-->
		<!--<add name="AppConnection" connectionString="Data Source=.;Initial Catalog=LearningWeb.DB;Integrated Security=False;User ID=sa;Password=p@ssword9;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
		<!--Table base-->
		<add name="Entities" connectionString="metadata=res://*/Models.DAO.csdl|res://*/Models.DAO.ssdl|res://*/Models.DAO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LearningWeb.DB;user id=sa;password=p@ssword9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>